
/* css for card  */
.card{
height: auto;
font-size: 30px;
background-color: transparent;
color: black;
border: 1px solid darkgrey;
margin:auto;
width: 700px;
padding:10px;
margin-bottom: 10px;
}

/* css for button  */
.quiz{
border:none;
background-color:black;
color: white;
margin-right: 3px;
padding: 8px;
}

